<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="standard" label="Auto-created page template">
	</flux:form>
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="0" name="main" />
		</flux:grid.row>
		
		<flux:grid.row>
			<flux:grid.column colPos="1" name="test" />
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="HeaderAssets">
	<style type="text/css">
		body {
			background-color: #F6F6F6;
			margin: 4em;
		}
	</style>
</f:section>

<f:section name="Preview">
	Standard Flux page template projektil_testing_extension
</f:section>

<f:section name="Main">
	asfasf sd a
</f:section>
